.ears {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  color: black;
  box-shadow:
    220px 160px 0 0 currentColor,
    510px 150px 0 0 currentColor;
}

.head {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 0px;
  left: 60px;
  border-radius: 100%;
  color: black;
  box-shadow:
    220px 220px 0 0 currentColor;
  }

  .eyes {
    width: 30px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 180px;
    border-radius: 100%;
    color: white;
    box-shadow:
      195px 320px 0 0 currentColor,
      300px 320px 0 0 currentColor;
  }

  .innereye {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 39px;
    left: 180px;
    border-radius: 100%;
    color: white;
    box-shadow:
      195px 320px 0 0 currentColor,
      300px 320px 0 0 currentColor;
  }

  .pupils {
    width: 10px;
    height: 20px;
    position: absolute;
    top: 39px;
    left: 190px;
    border-radius: 100%;
    color: black;
    box-shadow:
      195px 320px 0 0 currentColor,
      300px 320px 0 0 currentColor;
  }

.mouth {
    width: 140px;
    height: 110px;
    position: absolute;
    top: 190px;
    left: 160px;
    border-radius: 100%;
    color: white;
    box-shadow:
      220px 220px 0 0 currentColor;
}

 .mouth1 { /* this mouth shifts */
  height: 45px;
  top: 450px;
  right: 140px;
  width: 90px;
  border-radius: 0 0 90px 90px;
  background: white;
  position: absolute;
}
